@import "../../node_modules/bootstrap/scss/bootstrap";
$bg: #E48168;
$textcolor:#F5E9DB;
*{
 // border: 1px solid;
  text-align: center;
  box-sizing: border-box;
}
header{
  padding: 15px 0;
  background-color: $bg;
  max-height: 767px;
  max-width: 1024px;
  color: $textcolor !important;
  
  .container{
    align-content: center;
    .header-wrapper{
    .line{
      height: 100px;
      width: 2px;
      margin:0 auto;
      background-color: $textcolor;
    }
  }
    .button-wrapper{
      button{
        background-color: transparent;
        color:$textcolor;
        border:1px solid white;
      }
    }
  }
}

section,footer{
  max-height: 767px;
  max-width: 1024px;
  background-color: $bg;
}